:root {
  box-sizing: border-box;
}

header {
  text-align: center;
}

#box {
  width: 600px;
  height: 600px;
  position: absolute;
  background: url("image/yesSheCodes.webp") repeat-x top;
  left: 200px;
  top: 200px;
}
